<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kiosk.mapper.com_buildingMapper">

	<select id="read" resultType="Com_buildingVO">
		select
		bu_no,bu_name,bu_img,bu_ndt
		from com_building
		where
		bu_no = #{bu_no}
	</select>

	<insert id="create">
		insert into com_building
		(bu_name,bu_img,bu_ndt)
		values
		(#{bu_name},#{bu_img},now())
	</insert>

	<update id="update">
		update com_building set
		bu_name = #{bu_name},
		bu_img =
		#{bu_img},
		bu_ndt = now()
		where
		bu_no = #{bu_no}
	</update>

	<delete id="delete">
		delete from com_building where bu_no = #{bu_no}
	</delete>

	<select id="listAll" resultType="Com_buildingVO">
 		<![CDATA[ select * from com_building]]>
	</select>

	<select id="lastInsertID" resultType="int">
		SELECT
		LAST_INSERT_ID(bu_no) from com_building order by bbs_no desc limit 1;
	</select>

	<select id="listPage" resultType="Com_buildingVO">
 		<![CDATA[
		select 
		bu_no,bu_name,bu_img,bu_ndt,bu_edt
		from com_building 
		where bu_no > 0 
		order by bu_no desc
		limit #{page}, 10
 		]]>
	</select>

	<select id="listCriteria" resultType="Com_buildingVO">
 		<![CDATA[
		select 
		bu_no,bu_name,bu_img,bu_ndt,bu_edt
		from com_building 
		where bu_no > 0 
		order by bu_no desc
			limit #{pageStart}, #{perPageNum}
 		]]>
	</select>

	<select id="countPaging" resultType="int">
 		<![CDATA[
		select count(bu_no) 
		from 
		com_building 
		where 
		bu_no > 0 
 		]]>
	</select>
	<select id="listSearch" resultType="Com_buildingVO">
		<![CDATA[  
		 select * 
		 from com_building
		 where bu_no > 0   
		 order by bu_no desc
		 limit #{pageStart}, #{perPageNum}
		]]>
	</select>

	<select id="listSearchCount" resultType="int">
		<![CDATA[  
		  select count(bu_no) 
		  from com_building 
		  where bu_no > 0 
		]]>

	</select>
</mapper>