<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kiosk.mapper.com_buildingMapper">

	<select id="read" resultType="Com_buildingVO">
		select
		bu_no,bu_name,bu_img,bu_ndt,bu_type
		from com_building
		where
		bu_no =
		#{bu_no}
	</select>

	<insert id="create">
		insert into com_building
		(bu_name,bu_img,bu_ndt,bu_type)
		values
		(#{bu_name},#{bu_img},now(),#{bu_type})
	</insert>

	<update id="update">
		update com_building set
		bu_img =
		#{bu_img},
		bu_ndt =
		now()
		where
		bu_no = #{bu_no}
	</update>

	<delete id="delete">
		delete from com_building where bu_no = #{bu_no}
	</delete>

	<select id="listAll" resultType="Com_buildingVO">
 		<![CDATA[ select * from com_building]]>
	</select>
	
	<select id="list" resultType="Com_buildingVO">
 		<![CDATA[ 
 		select * from com_building
 		where bu_type = #{bu_type}
 		]]>
	</select>

	<select id="lastInsertID" resultType="int">
		SELECT AUTO_INCREMENT
		FROM
		information_schema.TABLES
		WHERE TABLE_SCHEMA = "kipro"
		AND TABLE_NAME =
		"com_building";
	</select>

	<select id="listPage" resultType="Com_buildingVO">
 		<![CDATA[
		select 
		bu_no,bu_name,bu_img,bu_ndt,bu_edt
		from com_building 
		where bu_no > 0 
		order by bu_name asc
		limit #{page}, 10
 		]]>
	</select>

	<select id="listCriteria" resultType="Com_buildingVO">
 		<![CDATA[
		select 
		bu_no,bu_name,bu_img,bu_ndt,bu_edt
		from com_building 
		where bu_no > 0 
		order by bu_name desc
			limit #{pageStart}, #{perPageNum}
 		]]>
	</select>

	<select id="countPaging" resultType="int">
 		<![CDATA[
		select count(bu_no) 
		from 
		com_building 
		where 
		bu_no > 0 
 		]]>
	</select>

	<sql id="search">
		<if test="!keyword.equals('')">
			and bu_type = #{keyword}
		</if>
		<if test="keyword.equals('')">
			and bu_type = 1
		</if>
	</sql>

	<select id="listSearch" resultType="Com_buildingVO">
		<![CDATA[  
		 select * 
		 from com_building
		 where bu_no > 0 
		 ]]>
		 <include refid="search"></include>
		 <![CDATA[  
		 order by bu_name asc
		 limit #{pageStart}, #{perPageNum}
		]]>
	</select>

	<select id="listSearchCount" resultType="int">
		<![CDATA[  
		  select count(bu_no) 
		  from com_building 
		  where bu_no > 0 
		]]>
		<include refid="search"></include>
	</select>
</mapper>