<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kiosk.mapper.com_iconMapper">

	<select id="read" resultType="Com_iconVO">
		select
		ic_no,ic_name,ic_icon,ic_default,ic_ndt,ic_able
		from com_icon
		where
		ic_no =
		#{ic_no}
	</select>

	<insert id="create">
		insert into com_icon
		(ic_name,ic_icon,ic_default,ic_ndt,ic_able)
		values
		(#{ic_name},#{ic_icon},#{ic_default},now(),#{ic_able})
	</insert>

	<update id="update">
		update com_icon set
		ic_icon = #{ic_icon},
		ic_default = #{ic_default},
		ic_ndt = now(),
		ic_able = #{ic_able}
		where ic_no = #{ic_no}
	</update>

	<delete id="delete">
		delete from com_icon where ic_no = #{ic_no}
	</delete>

	<select id="listAll" resultType="Com_iconVO">
 		<![CDATA[ select * from com_icon]]>
	</select>

	<select id="lastInsertID" resultType="int">
		SELECT AUTO_INCREMENT
		FROM information_schema.TABLES
		WHERE TABLE_SCHEMA = "kipro"
		AND TABLE_NAME = "com_icon";
	</select>

	<select id="listPage" resultType="Com_iconVO">
 		<![CDATA[
		select 
		ic_no,ic_name,ic_icon,ic_default,ic_ndt,ic_able
		from com_icon 
		where ic_no > 0 
		order by ic_no desc
		limit #{page}, 10
 		]]>
	</select>

	<select id="listCriteria" resultType="Com_iconVO">
 		<![CDATA[
		select 
		ic_no,ic_name,ic_icon,ic_default,ic_ndt,ic_able
		from com_icon 
		where ic_no > 0 
		order by ic_no desc
			limit #{pageStart}, #{perPageNum}
 		]]>
	</select>

	<select id="countPaging" resultType="int">
 		<![CDATA[
		select count(ic_no) 
		from 
		com_icon 
		where 
		ic_no > 0 
 		]]>
	</select>

	<select id="listSearch" resultType="Com_iconVO">
		<![CDATA[  
		 select * 
		 from com_icon 
		 where ic_no > 0    
		 order by ic_no desc
		 limit #{pageStart}, #{perPageNum}
		]]>
	</select>

	<select id="listSearchCount" resultType="int">
		<![CDATA[  
		  select count(ic_no) 
		  from com_icon 
		  where ic_no > 0 
		]]>
	</select>
</mapper>