<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kiosk.mapper.Com_staffMapper">

	<insert id="create">
		insert into com_staff
		(st_no,st_nm,st_position,st_tel,st_email,st_job,st_profile,img_filenm,img_filenm1,section_cd,team_cd,st_team,st_sort,st_display,st_status,st_wdt,st_edt)
		values
		(#{st_no},#{st_nm},#{st_position},#{st_tel},#{st_email},#{st_job},#{st_profile},#{img_filenm},#{img_filenm1},#{section_cd},#{team_cd},#{st_team},#{st_sort},#{st_display},#{st_status},now(),now())
	</insert>

	<select id="read" resultType="Com_staffVO">
		select
		st_no,st_nm,st_position,st_tel,st_email,st_job,st_profile,img_filenm,img_filenm1,section_cd,team_cd,st_team,st_sort,st_display,st_status,st_wdt,st_edt
		from com_staff
		where 
		st_no = #{st_no}
	</select>

	<update id="update">
		update com_staff set st_nm=#{st_nm},st_position
		=#{st_position},st_tel =#{st_tel},st_email =#{st_email},st_job
		=#{st_job},st_profile =#{st_profile},img_filenm
		=#{img_filenm},img_filenm1 =#{img_filenm1},section_cd
		=#{section_cd},team_cd =#{team_cd},st_team =#{st_team},st_sort
		=#{st_sort},st_display =#{st_display},st_status =#{st_status},st_edt
		=now()
		where st_no = #{st_no}
	</update>

	<delete id="delete">
		delete from com_staff where st_no = #{st_no}
	</delete>

	<select id="listAll" resultType="Com_staffVO">
		 <![CDATA[
		 select 
		 st_no,st_nm,st_position,st_tel,st_email,st_job,st_profile,img_filenm,img_filenm1,section_cd,team_cd,st_team,st_sort,st_display,st_status,st_wdt,st_edt
		 from 
		 com_staff 
		 where st_no > 0 
		 order by st_no desc
		 ]]>
	</select>

	<select id="lastInsertID" resultType="int">
		SELECT LAST_INSERT_ID(st_no) from com_staff order by st_no desc limit 1;
	</select>

	<select id="listPage" resultType="Com_staffVO">
		 <![CDATA[
		 select 
		 st_no,st_nm,st_position,st_tel,st_email,st_job,st_profile,img_filenm,img_filenm1,section_cd,team_cd,st_team,st_sort,st_display,st_status,st_wdt,st_edt
		 from 
		 com_staff 
		 where st_no > 0 
		 order by st_no desc
		 limit #{page}, 10
		 ]]>
	</select>

	<select id="listCriteria" resultType="Com_staffVO">
		 <![CDATA[
		 select 
		 st_no,st_nm,st_position,st_tel,st_email,st_job,st_profile,img_filenm,img_filenm1,section_cd,team_cd,st_team,st_sort,st_display,st_status,st_wdt,st_edt
		 from 
		 com_staff 
		 where st_no > 0 
		 order by st_no desc
		 limit #{pageStart}, #{perPageNum}
	 	]]>
	</select>

	<select id="countPaging" resultType="int">
		 <![CDATA[
		 select 
		 count(st_no) 
		 from 
		 com_staff 
		 where st_no > 0 
		 ]]>
	</select>


	<select id="listSearch" resultType="Com_staffVO">
		<![CDATA[  
		 select * 
		 from com_staff 
		 where st_no > 0  
		order by st_no desc
		limit #{pageStart}, #{perPageNum}
		]]>
	</select>

	<select id="listSearchCount" resultType="int">
		<![CDATA[  
		  select count(st_no) 
		  from com_staff 
		  where st_no > 0 
		]]>
	</select>

</mapper>