<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kiosk.mapper.com_bgimgMapper">

	<select id="read" resultType="Com_bgImgVO">
		select
		bi_no,bi_name,bi_img,bi_able,bi_ndt
		from com_bgImg
		where
		bi_no = #{bi_no}
	</select>

	<insert id="create">
		insert into com_bgImg
		(bi_no,bi_name,bi_img,bi_able,bi_ndt)
		values
		(#{bi_no},#{bi_name},#{bi_img},#{bi_able},#{bi_ndt})
	</insert>

	<update id="update">
		update com_bgImg set
		bi_name = #{bi_name},
		bi_img = #{bi_img},
		bi_able = #{bi_able},
		bi_ndt = #{bi_ndt}
		where
		bi_no = #{bi_no}
	</update>

	<delete id="delete">
		delete from com_bgImg where bi_no = #{bi_no}
	</delete>

	<select id="listAll" resultType="Com_bgImgVO">
 		<![CDATA[ select * from com_bgImg]]>
	</select>
	
	<select id="lastInsertID" resultType="int">
		 SELECT LAST_INSERT_ID(bi_no) from com_bgImg order by bi_no desc limit 1;
	</select>

	<select id="listPage" resultType="Com_bgImgVO">
 		<![CDATA[
		select 
		bi_no,bi_name,bi_img,bi_able,bi_ndt
		from com_bgImg 
		where bi_no > 0 
		order by bi_no desc
		limit #{page}, 10
 		]]>
	</select>

	<select id="listCriteria" resultType="Com_bgImgVO">
 		<![CDATA[
		select 
		bi_no,bi_name,bi_img,bi_able,bi_ndt
		from com_bgImg 
		where bi_no > 0 
		order by bi_no desc
			limit #{pageStart}, #{perPageNum}
 		]]>
	</select>

	<select id="countPaging" resultType="int">
 		<![CDATA[
		select count(bi_no) 
		from 
		com_bgImg 
		where 
		bi_no > 0 
 		]]>
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				and writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%') OR content
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( content like CONCAT('%', #{keyword}, '%') OR writer
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%')
				OR
				content
				like CONCAT('%', #{keyword}, '%')
				OR
				writer like CONCAT('%',
				#{keyword}, '%'))
			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="Com_bgImgVO">
		<![CDATA[  
		 select * 
		 from com_bgImg 
		 where bi_no > 0 
		]]>
		<include refid="search"></include>
  
		<![CDATA[    
		order by bi_no desc
		limit #{pageStart}, #{perPageNum}
		]]>
	</select>

	<select id="listSearchCount" resultType="int">
		<![CDATA[  
		  select count(bi_no) 
		  from com_bgImg 
		  where bi_no > 0 
		]]>
		<include refid="search"></include>

	</select>
	
</mapper>