<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kiosk.mapper.JsonGelleryMapper">

	<select id="read" resultType="org.kiosk.dto.JsonGelleryDTO">
		select img_no, img_title, img_caption, img_filenm
		from com_image
		where img_no = #{img_no}
	</select>

	<insert id="create">
		insert into com_image
		(img_title, img_caption, img_filenm )
		values
		(#{img_title},#{img_caption},#{img_filenm})
	</insert>

	<update id="update">
		update com_image set
		img_title = #{img_title},
		img_caption = #{img_caption},
		img_filenm = #{img_filenm}
		where
		img_no = #{img_no}

	</update>

	<delete id="delete">
		delete from com_image where img_no = #{img_no}
	</delete>

	<select id="list" resultType="JsonGelleryDTO">
 		<![CDATA[
 		 select img_no, img_title, img_caption, img_filenm
		from com_image
		WHERE img_gallery = 1 AND`section_cd` IN('none',#{section_cd})
 		 ]]>
	</select>

	<select id="listAll" resultType="JsonGelleryDTO">
 		<![CDATA[
 		 select img_no, img_title, img_caption, img_filenm
		from com_image
		WHERE img_gallery = 1
 		 ]]>
	</select>
</mapper>